#advertisement{
    width: 90%;
    margin: 0 5%;
}

#advertisement-slide-container{
    position: relative;
    margin: 0 auto;
  }
  
.advertisement-slide{
    display: none;
    aspect-ratio: 385/100;
}

.slide-active{
    display: block;
}
  
.advertisement-slide-arrow{
    width: auto;
    margin-top: -22px;
    padding: 16px;

    position: absolute;

    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

    transition: 0.4s ease;
    user-select: none;
}

#advertisement-prev{
    top: 50%;
    left: 0;

    border-radius: 0 3px 3px 0;
}
  
#advertisement-next{
    top: 50%;
    right: 0;

    border-radius: 3px 0 0 3px;
}
  
.advertisement-slide-arrow:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.advertisement-slide-order{
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 0;

    color: #f2f2f2;
}

.advertisement-slide-image{
    height: 100%;
    width: 100%;
}

.advertisement-slide-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#advertisement-nav{
    position: absolute;
    bottom: 0;

    width: 100%;
    text-align: center;
}
  
.dot{
    display: inline-block;

    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;

    cursor: pointer;

    transition: background-color 0.4s ease;
}
  
.dot-active, .dot:hover{
    background-color: #717171;
}
  
/* Fading animation */
.fade{
    animation-name: fade;
    animation-duration: 1.2s;
}
  
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 768px){
    .dot{
        height: 12px;
        width: 12px;
    }

    .advertisement-slide-order{
        padding: 6px 10px;
    }
}

@media only screen and (max-width: 576px){
    .dot{
        height: 10px;
        width: 10px;
    }

    .advertisement-slide-order{
        padding: 4px 6px;
    }

    .advertisement-slide-arrow{
        display: none;
    }
}

#suggestion{
    width: 90%;
    margin: 0 5%;
    margin-top: 40px;
}

#suggestion h2{
    margin-bottom: 24px;
}

.list-horizontal{
    position: relative;

    width: 100%;

    overflow: auto;
    white-space: nowrap;

    cursor: pointer;
}

#suggestion-list::-webkit-scrollbar{
    height: 4px;
}

#suggestion-list::-webkit-scrollbar-thumb{
    background: #343434;
}

.card{
    display: inline-block;
    width: 300px;
    height: 400px;
}

#suggestion-list .card{
    margin-right: 24px;
    margin-bottom: 16px;
}

#suggestion-list .card:last-child{
    margin-right: 0;
}

.card-image{
    position: relative;

    width: 100%;
    height: 340px;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);

    transition: 0.4s ease;
}

.card:hover .card-image-overlay{
    opacity: 1;
}

.view-detail-btn{
    padding: 10px 14px;
    background-color: #ffffff;
    border: 2px solid #343434;

    cursor: pointer;

    transition: 0.4s ease;
}

.view-detail-btn:hover{
    background-color: #343434;
    color: #ffffff;
}

.card-info{
    padding: 10px 12px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.card-info-detail{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media only screen and (max-width: 768px){
    .card{
        width: 240px;
        height: 320px;
    }
    
    #suggestion-list .card{
        margin-right: 20px;
    }
    
    .card-image{
        width: 100%;
        height: 280px;
    }

    .view-detail-btn{
        padding: 6px 10px;
    }
    
    .card-info{
        padding: 10px 12px;
        height: 40px;
    }
}

#update{
    padding: 12px 5%;
    width: 100%;
    height: 160px;
    margin-top: 60px;
    border-top: 1px solid #343434;
    border-bottom: 1px solid #343434;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#update h2{
    text-align: center;
    margin-bottom: 10px;
}

#update-email{
    margin-left: 10px;
    margin-right: 10px;
}

#emailUpdate{
    background-color: #ffffff;
    padding: 12px;
    width: 240px;
    max-width: 100%;
    border: 1px solid #343434;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

#update-submit{
    margin-left: 8px;
    padding: 11px 16px;
    background-color: #edb654;
    border: none;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;

    cursor: pointer;
    transition: 0.4s ease;
}

#update-submit:hover{
    filter: brightness(0.9);
}

@media only screen and (max-width: 768px){
    #update{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 576px){
    #update{
        margin-top: 40px;
    }

    #update h2{
        font-size: 20px;
        line-height: 28px;
    }

    #emailUpdate{
        padding: 12px;
        width: 200px;
    
        font-size: 12px;
        line-height: 16px;
    }
    
    #update-submit{
        margin-left: 8px;
        padding: 11px 16px;
    
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
    }
}

#category{
    width: 90%;
    margin: 0 5%;
    margin-top: 60px;
}

#category-heading{
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#filter-btn{
    padding: 6px 24px;
    border-radius: 4px;
    border: 2px solid #343434;
    background-color: #ffffff;

    display: flex;
    align-items: center;

    cursor: pointer;

    transition: 0.4s ease;
}

#filter-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 4.4px;
}

#filter-btn img{
    width: 22px;
    height: 22px;
    margin-right: 2px;
}

#filter-btn p{
    margin-left: 2px;
}

#category-list-notification{
    display: none;
    margin: 20px auto;
    text-align: center;
}

.list-vertical{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media only screen and (max-width: 1150px){
    .list-vertical{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }
}

@media only screen and (max-width: 768px){
    #filter-btn{
        padding: 4px 18px;
    }
}

@media only screen and (max-width: 576px){
    #filter-btn{
        padding: 1px 10px;
    }

    .list-vertical{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
    }
}