<!-- Page footer -->
<!-- <h1>ERROR BOOTSTRAP WITH INDEX.PHP</h1> -->

<footer>
    <a href="#"><img src="../img/lazada_footer_2.png" alt="footer logo"></a>
    <p>&copy; Lazada 2022, All Rights Reserved</p>
    <ul class="footer_menu">
        <li class="footer_link"><a href="#" class="text-muted">About</a></li>|
        <li class="footer_link"><a href="#" class="text-muted">Privacy</a></li>|
        <li class="footer_link"><a href="#" class="text-muted">Copyright</a></li>|
        <li class="footer_link"><a href="#" class="text-muted">Help</a></li>
    </ul>
</footer>